name: PR Review

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Verify gofmt
        run: |
          fmt_out=$(gofmt -l $(git ls-files '*.go'))
          if [[ -n "$fmt_out" ]]; then
            echo "The following files need gofmt:" >&2
            echo "$fmt_out" >&2
            exit 1
          fi
      - name: Go vet
        run: go vet ./...
      - name: Tests
        run: go test ./...
